:root {
  --black: #000000;
  --white: #ffffff;
  --primary-bg: #3d91ae;
  --bg-currentcolor: #a100ff;
  --headerbg: #363e28;
  --darkbg: #09090b;
  --copyright-bg: #070422;
  --partnercard-bg: #202020;
  --primary-border: hsl(60, 1%, 38%);
  --footer-border: rgb(97, 97, 96);
  --oempartner-bg: #80c4e9;
  --ourcustomer-bg: #c4d7ff;
  --corporate-bg: #86d290;
  --selection-bg: #b6b6b9;
  --footer-text: rgb(233, 233, 233);
  --primary-font: 'Open Sans', serif;

  --card-1-bg: #80c4e9;
  --card-2-bg: #c4d7ff;
  --card-3-bg: #86d290;

  /* GRADIENT-BACKGROUNDS */
  --careerbg: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  --contact-bg: linear-gradient(rgba(0, 0, 0, 0.9), rgba(8, 4, 39, 0.9));
  --servicescerd-border: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.9)
  );
  --servicescard-hover-border: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.1)
  );
  --cardmask-bg: linear-gradient(rgb(255, 255, 255) 0, rgb(255, 255, 255) 0)
      content-box exclude,
    linear-gradient(rgb(255, 255, 255) 0, rgb(255, 255, 255) 0);

  --servicebg: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
  --servicehoverbg: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
  --service-hover-bg: linear-gradient(
    90deg,
    rgb(0, 116, 199) 0%,
    rgb(184, 134, 203) 100%
  );

  /* THEME-COLORS */
  --color-transparent: transparent;
  --color-current: currentColor;
  --white-alpha-50: rgba(255, 255, 255, 0.04);
  --white-alpha-100: rgba(255, 255, 255, 0.06);
  --white-alpha-200: rgba(255, 255, 255, 0.08);
  --white-alpha-300: rgba(255, 255, 255, 0.16);
  --white-alpha-400: rgba(255, 255, 255, 0.24);
  --white-alpha-500: rgba(255, 255, 255, 0.36);
  --white-alpha-600: rgba(255, 255, 255, 0.48);
  --white-alpha-700: rgba(255, 255, 255, 0.64);
  --white-alpha-800: rgba(255, 255, 255, 0.8);
  --white-alpha-900: rgba(255, 255, 255, 0.92);
  --white-alpha-950: rgba(255, 255, 255, 0.95);
  --black-alpha-50: rgba(0, 0, 0, 0.04);
  --black-alpha-100: rgba(0, 0, 0, 0.06);
  --black-alpha-200: rgba(0, 0, 0, 0.08);
  --black-alpha-300: rgba(0, 0, 0, 0.16);
  --black-alpha-400: rgba(0, 0, 0, 0.24);
  --black-alpha-500: rgba(0, 0, 0, 0.36);
  --black-alpha-600: rgba(0, 0, 0, 0.48);
  --black-alpha-700: rgba(0, 0, 0, 0.64);
  --black-alpha-800: rgba(0, 0, 0, 0.8);
  --black-alpha-900: rgba(0, 0, 0, 0.92);
  --black-alpha-950: rgba(0, 0, 0, 0.95);
  --gray-50: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;
  --gray-950: #111111;
  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #991919;
  --red-800: #511111;
  --red-900: #300c0c;
  --red-950: #1f0808;
  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #92310a;
  --orange-800: #6c2710;
  --orange-900: #3b1106;
  --orange-950: #220a04;
  --yellow-50: #fefce8;
  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #845209;
  --yellow-800: #713f12;
  --yellow-900: #422006;
  --yellow-950: #281304;
  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #116932;
  --green-800: #124a28;
  --green-900: #042713;
  --green-950: #03190c;
  --teal-50: #f0fdfa;
  --teal-100: #ccfbf1;
  --teal-200: #99f6e4;
  --teal-300: #5eead4;
  --teal-400: #2dd4bf;
  --teal-500: #14b8a6;
  --teal-600: #0d9488;
  --teal-700: #0c5d56;
  --teal-800: #114240;
  --teal-900: #032726;
  --teal-950: #021716;
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #a3cfff;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #173da6;
  --blue-800: #1a3478;
  --blue-900: #14204a;
  --blue-950: #0c142e;
  --cyan-50: #ecfeff;
  --cyan-100: #cffafe;
  --cyan-200: #a5f3fc;
  --cyan-300: #67e8f9;
  --cyan-400: #22d3ee;
  --cyan-500: #06b6d4;
  --cyan-600: #0891b2;
  --cyan-700: #0c5c72;
  --cyan-800: #134152;
  --cyan-900: #072a38;
  --cyan-950: #051b24;
  --purple-50: #faf5ff;
  --purple-100: #f3e8ff;
  --purple-200: #e9d5ff;
  --purple-300: #d8b4fe;
  --purple-400: #c084fc;
  --purple-500: #a855f7;
  --purple-600: #9333ea;
  --purple-700: #641ba3;
  --purple-800: #4a1772;
  --purple-900: #2f0553;
  --purple-950: #1a032e;
  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
  --pink-400: #f472b6;
  --pink-500: #ec4899;
  --pink-600: #db2777;
  --pink-700: #a41752;
  --pink-800: #6d0e34;
  --pink-900: #45061f;
  --pink-950: #2c0514;

  /* BORDERS */
  --border-xs: 0.5px solid;
  --border-sm: 1px solid;
  --border-md: 2px solid;
  --border-lg: 4px solid;
  --border-xl: 8px solid;

  /* FONT-SIZES */
  --font-size-2xs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;
  --font-size-8xl: 6rem;
  --font-size-9xl: 8rem;

  /* VIEWPORT-SIZES */
  --size-full: 100%;
  --size-dvh: 100dvh;
  --size-svh: 100svh;
  --size-lvh: 100lvh;
  --size-dvw: 100dvw;
  --size-svw: 100svw;
  --size-lvw: 100lvw;
  --size-vw: 100vw;
  --size-vh: 100vh;

  /* BREAKPOINT-SIZES */
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* TRANSITION-DURATIONS */
  --durations-fastest: 50ms;
  --durations-faster: 100ms;
  --durations-fast: 150ms;
  --durations-moderate: 200ms;
  --durations-slow: 300ms;
  --durations-slower: 400ms;
  --durations-slowest: 500ms;

  /* CUBIC-TRANSITIONS */
  --easings-ease-in: cubic-bezier(0.42, 0, 1, 1);
  --easings-ease-out: cubic-bezier(0, 0, 0.58, 1);
  --easings-ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
  --easings-ease-in-smooth: cubic-bezier(0.32, 0.72, 0, 1);

  /* BOX-SHADOWS */
  --shadows-xs: 0px 1px 2px
      color-mix(in srgb, var(--colors-gray-900) 10%, transparent),
    0px 0px 1px color-mix(in srgb, var(--colors-gray-900) 20%, transparent);
  --shadows-sm: 0px 2px 4px
      color-mix(in srgb, var(--colors-gray-900) 10%, transparent),
    0px 0px 1px color-mix(in srgb, var(--colors-gray-900) 30%, transparent);
  --shadows-md: 0px 4px 8px
      color-mix(in srgb, var(--colors-gray-900) 10%, transparent),
    0px 0px 1px color-mix(in srgb, var(--colors-gray-900) 30%, transparent);
  --shadows-lg: 0px 8px 16px
      color-mix(in srgb, var(--colors-gray-900) 10%, transparent),
    0px 0px 1px color-mix(in srgb, var(--colors-gray-900) 30%, transparent);
  --shadows-xl: 0px 16px 24px
      color-mix(in srgb, var(--colors-gray-900) 10%, transparent),
    0px 0px 1px color-mix(in srgb, var(--colors-gray-900) 30%, transparent);
  --shadows-2xl: 0px 24px 40px
      color-mix(in srgb, var(--colors-gray-900) 16%, transparent),
    0px 0px 1px color-mix(in srgb, var(--colors-gray-900) 30%, transparent);
  --shadows-inner: inset 0 2px 4px 0 color-mix(in srgb, black 5%, transparent);
  --shadows-inset: inset 0 0 0 1px color-mix(in srgb, black 5%, transparent);
}

/* FONTS */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-LightItalic.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Medium.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-MediumItalic.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-ExtraBold.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* RESETTINGS */
*,
*::before,
*::after {
  box-sizing: border-box;
  word-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: var(--selection-bg);
  color: var(--white);
}

html {
  font-size: 100%;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: var(--primary-font);
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

a,
button {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: var(--size-full);
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
  /* text-wrap: balance; */
}

/* p {
  text-wrap: pretty;
} */

/* UTILITIES */
.techcontainer {
  width: var(--size-full);
  padding-inline: 1rem;
}

.headercontent {
  position: relative;
  width: var(--size-full);
}

.btn-hamburger {
  background: transparent;
  border: none;
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logosize {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.brandlogo {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 14rem;
  height: auto;
}

.brandlogo img {
  object-fit: contain;
}

.offcanvas {
  background: var(--black);
  --bs-offcanvas-width: 20rem;
}

.offcanvas.offcanvas-start {
  border: 0;
  --bs-offcanvas-width: 20rem;
}

.offcanvas-header {
  padding-block: 0.875rem;
}

.offcanvas-header .btn-close {
  border: none;
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  opacity: 1;
  transition: all var(--durations-slow) ease-in-out;
}

.offcanvas-header .btn-close svg {
  color: var(--white);
  width: 1.5rem;
  height: 1.5rem;
}

.offcanvas-header .btn-close:hover,
.offcanvas-header .btn-close:focus {
  transform: rotate(90deg);
}

.offcanvas-header .btn-close:hover svg,
.offcanvas-header .btn-close:focus svg {
  color: var(--bg-currentcolor);
}

.offcanvas-body {
  max-height: calc(100vh - 4rem);
}

.offcanvas-body::-webkit-scrollbar {
  width: 0.5rem;
}

.btn-close:focus,
.btn-close:active {
  box-shadow: none;
  outline: none;
}

/* PRELOADER-COMPONENT */
.preloader {
  background: var(--black);
  width: 100vw;
  height: var(--size-vh);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 99999;
}

.loader {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-border {
  --bs-spinner-width: 2.5rem;
  --bs-spinner-height: 2.5rem;
  --bs-spinner-border-width: 0.125rem;
}

/* HEADER COMPONENT */
.header {
  background: var(--black);
  box-shadow: var(--shadows-md);
  display: flex;
  align-items: center;

  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 999;
}

/* MOBILE-MENU */
.mobilelink {
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
}

.activelink {
  font-weight: 600;
}

.mobiledropdown {
  display: flex;
  flex-direction: column;
}

.mobiledropdown-link {
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 200;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  width: var(--size-full);
}

.accordion {
  --bs-accordion-bg: transparent;
  --bs-accordion-color: var(--white);
  --bs-accordion-btn-color: var(--white);
  --bs-accordion-border-color: transparent;
  --bs-accordion-border-width: 0;
  --bs-accordion-border-radius: 0;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-btn-icon-width: 1rem;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M2 5L8 11L14 5'/%3E%3C/svg%3E");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M2 5L8 11L14 5'/%3E%3C/svg%3E");
}

.accordion-item {
  background: var(--color-transparent);
  border: 0;
}

.accordion-body {
  padding: 0 0 0 1rem;
}

.accordion-button {
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.625rem 1rem;
}

.accordion-item:first-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion-item:last-of-type {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion-button:not(.collapsed) {
  color: var(--white);
  background: transparent;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
}

main {
  display: flex;
  flex-direction: column;
}

/* DESKTOP-MENU */
.desktoplist {
  display: flex;
  align-items: center;
}

.homelink {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
  height: 5rem;
  padding-inline: 1rem;
}

.homelink:hover {
  color: var(--gray-300);
}

.desktoplist-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.desktoplist-link {
  height: 5rem;
  background: var(--color-transparent);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-inline: 1rem;
  text-align: center;
}

.desktoplist-link .text {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 400;
}

.desktoplist-link .linkicon {
  width: 1.125rem;
  height: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform var(--durations-slow) ease-in-out;
}

.desktoplist-link .linkicon svg {
  width: 100%;
  height: 100%;
}

.desktoplist-item:hover .desktoplist-link .linkicon {
  transform: rotateX(180deg);
}

.headercontent .dropdowncontent {
  background: var(--black);
  opacity: 0.8;
  padding-block: 4rem;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: var(--size-full);
  height: 70vh;
  animation-duration: var(--durations-slower);
  animation-fill-mode: both;
  animation-name: slideUp;
  transition: top 0.6s ease-out;
  z-index: 11;
}

.desktopdropdown {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.desktoplist-item:hover .dropdowncontent {
  display: block;
}

.dropdowntitle {
  color: var(--white);
  font-weight: 600;
  font-size: 1.5rem;
}

.desktopdropdown-body {
  column-count: 3;
  column-gap: 1rem;
}

.dropdownlist-link {
  color: var(--white);
  font-weight: 400;
  font-size: 1rem;
  padding-block: 0.5rem;
}

.dropdownlist-link:hover {
  text-decoration: underline;
}

/* HERO-SECTION */
.swiper {
  width: 100%;
  height: 100%;
}

.actionbuttons {
  position: absolute;
  bottom: 10%;
  right: 15%;
  z-index: 77;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.swiper-button-next,
.swiper-button-prev {
  width: 2.25rem;
  height: 2.25rem;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  margin-top: 0;
  padding: 0.5rem;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  width: 0;
  height: 0;
  display: none;
}

.cardhero {
  padding-inline: 1.25rem;
}

.cardhero-thumbnail {
  height: 80vh;
  position: relative;
}

.cardhero-thumbnail img {
  box-shadow: var(--shadows-md);
  width: var(--size-full);
  height: 100%;
  object-fit: cover;
  border-radius: 0.375rem;
}

.overlay {
  background: var(--black-alpha-500);
  box-shadow: var(--shadows-md);
  position: absolute;
  inset: 0;
  width: var(--size-full);
  height: 100%;
  z-index: 3;
}

.cardhero-details {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.cardhero-title {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.cardtext {
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 200;
  text-align: center;
}

.cardlist-item {
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 200;
}

/* ABOUT-SECTION */
.about-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  padding-block: 3rem;
  scroll-padding-top: 6.25rem;
}

.about-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 100%;
  height: 100%;
}

.about-thumbnail img {
  object-fit: contain;
  height: 100%;
}

.abouttitle {
  color: var(--white);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
}

.aboutsubtitle {
  color: var(--white);
  font-weight: 700;
  font-size: 1.125rem;
}

.abouttext {
  color: var(--white);
  font-size: 0.75rem;
  line-height: 1.7;
}

.btn-learnmore {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-learnmore .btntext {
  color: var(--white);
  font-size: 1rem;
}

.btn-learnmore .btnicon {
  width: 1.125rem;
  height: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 0.25rem;
  transition: 0.3s;
}

.btn-learnmore:hover .btnicon {
  margin-inline-start: 0.25rem;
}

/* MISSION-VISSION-VALUES */
.missionvisioncontent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 3rem;
  scroll-margin-top: 12.5rem;
}

.missionvissiontitle {
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 700;
}

.missionvisiondetails {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.nav-tabs {
  background: transparent;
  --bs-nav-tabs-border-width: 0;
  --bs-nav-tabs-border-color: none;
  --bs-nav-tabs-border-radius: 0;
  --bs-nav-tabs-link-hover-border-color: none;
  --bs-nav-tabs-link-active-bg: var(--color-transparent);
  border-bottom: none;
  --bs-nav-tabs-link-active-border-color: none;
  align-items: flex-start;
}

.nav-tabs .nav-link {
  border: none;
  border-radius: 0;
  font-size: 1rem;
  color: var(--footer-border);
  font-weight: 600;
  margin: 0;
  width: var(--size-full);
  text-align: left;
  padding-inline: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: transparent;
  color: var(--white);
}

.missionvisiontext {
  color: var(--white);
  font-size: 0.75rem;
  font-weight: 400;
}

.missionvisionthumb {
  display: flex;
  max-width: var(--size-full);
  max-height: 80vh;
  overflow: hidden;
}

.missionvisionthumb img {
  object-fit: conver;
  width: var(--size-full);
  border-radius: 0.25rem;
}

/* VALUE-CREATE-SECTION */
.valuecreate {
  border-bottom: solid 0.0625rem var(--primary-bg);
  padding-block: 3rem;
}

.valuecreate-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.valuecreatetitle {
  font-size: 1.125rem;
  font-weight: 700;
  white-space: normal;
}

.valuecreatedetails {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.cardvalue {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: var(--size-full);
  height: 100%;
  padding-inline: 2rem;
  padding-block: 3rem;
  border-radius: 0.125rem;
}

.cardvalue .cardtitle {
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 600;
}

.cardvalue .cardtext {
  color: var(--black);
  font-size: 0.875rem;
  font-weight: 400;
  text-align: left;
}

.card-1 {
  background: var(--card-1-bg);
}

.card-2 {
  background: var(--card-2-bg);
}

.card-3 {
  background: var(--card-3-bg);
}

/* SERVICES-SECTION */
.services {
  padding-block: 3rem;
  scroll-margin-top: 6.25rem;
}

.servicestitle {
  color: var(--white);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
}

.servicestitle {
  font-size: 1.75rem;
}

.servicescontent-body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  max-height: 25rem;
  overflow: hidden;
}

.expanded {
  max-height: 100%;
}

.cardservice {
  background-position: center center;
  border-radius: 0.125rem;
  cursor: pointer;
  min-height: 25rem;
  position: relative;
  padding: 2rem;
  transition: background 0.3s ease-in-out;
}

.cardservicetitle {
  color: var(--white);
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.cardservicetext {
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 400;
}

.service-1 {
  background: var(--servicebg),
    url(../images/services/one.webp) no-repeat center center/cover;
}

.service-1:hover {
  background: var(--servicehoverbg),
    url(../images/services/one.webp) no-repeat center center/cover;
}

.service-2 {
  background: var(--servicebg),
    url(../images/services/two.png) no-repeat center center/cover;
}

.service-2:hover {
  background: var(--servicehoverbg),
    url(../images/services/two.png) no-repeat center center/cover;
}

.service-3 {
  background: var(--servicebg),
    url(../images/services/three.png) no-repeat center center/cover;
}

.service-3:hover {
  background: var(--servicehoverbg),
    url(../images/services/three.png) no-repeat center center/cover;
}

.service-4 {
  background: var(--servicebg),
    url(../images/services/four.webp) no-repeat center center/cover;
}

.service-4:hover {
  background: var(--servicehoverbg),
    url(../images/services/four.webp) no-repeat center center/cover;
}

.service-5 {
  background: var(--servicebg),
    url(../images/services/digital.webp) no-repeat center center/cover;
}

.service-5:hover {
  background: var(--servicehoverbg),
    url(../images/services/digital.webp) no-repeat center center/cover;
}

.service-6 {
  background: var(--servicebg),
    url(../images/services/six.webp) no-repeat center center/cover;
}

.service-6:hover {
  background: var(--servicehoverbg),
    url(../images/services/six.webp) no-repeat center center/cover;
}

.service-7 {
  background: var(--servicebg),
    url(../images/services/seven.webp) no-repeat center center/cover;
}

.service-7:hover {
  background: var(--servicehoverbg),
    url(../images/services/seven.webp) no-repeat center center/cover;
}

.service-8 {
  background: var(--servicebg),
    url(../images/services/eight.webp) no-repeat center center/cover;
}

.service-8:hover {
  background: var(--servicehoverbg),
    url(../images/services/eight.webp) no-repeat center center/cover;
}

.service-9 {
  background: var(--servicebg),
    url(../images/services/nine.webp) no-repeat center center/cover;
}

.service-9:hover {
  background: var(--servicehoverbg),
    url(../images/services/nine.webp) no-repeat center center/cover;
}

.service-10 {
  background: var(--servicebg),
    url(../images/services/six.webp) no-repeat center center/cover;
}

.service-10:hover {
  background: var(--servicehoverbg),
    url(../images/services/six.webp) no-repeat center center/cover;
}

.service-11 {
  background: var(--servicebg),
    url(../images/services/one.webp) no-repeat center center/cover;
}

.service-11:hover {
  background: var(--servicehoverbg),
    url(../images/services/one.webp) no-repeat center center/cover;
}

.cardservice::before {
  background: var(--color-transparent);
  border-radius: inherit;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.125rem;
  mask: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px)
      content-box exclude,
    linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);
  transition: background 0.3s ease-in-out;
  z-index: 1;
}

.cardservice:hover::before {
  background: var(--service-hover-bg);
}

.servicescontent-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 2rem;
}

.btn-showless {
  background: none;
  border: solid 0.0625rem var(--footer-border);
  border-radius: 1.5rem;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 1rem 2rem;
  width: 8.125rem;
  height: 2.5rem;
  transition: 0.3s;
}

.btn-showless:hover {
  background: var(--primary-bg);
}

/* CONSULTING-SECTION */
.consultingsection {
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  scroll-margin-top: 6.25rem;
}

.consultingcontent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.consultingtitle {
  color: var(--white);
  font-weight: 700;
  font-size: 1.5rem;
}

.consultingtext {
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 400;
}

.cardconsult-thumbnail {
  position: relative;
}

.cardconsult-thumbnail img {
  object-fit: cover;
  border-radius: 0.375rem;
  box-shadow: var(--shadows-sm);
  width: var(--size-full);
  height: 100%;
}

.cardconsult-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.cardconsult-title {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.cardconsultext {
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

.cardconlist-item {
  color: var(--white);
  font-weight: 0.875rem;
  font-weight: 400;
}

.consultingsection-body {
  position: relative;
}

.conactionbuttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  margin-inline: auto;
  height: 3rem;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conactionbuttons button {
  background: var(--black);
  border-radius: 100%;
  padding: 0.6rem;
}

/* INDUSTRIES-SECTION */
.industries {
  padding-block: 3rem;
  scroll-margin-top: 6.25rem;
}

.industriescontent {
  width: var(--size-full);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.industriestitle {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
  margin-left: 1.25rem;
}

.industriestitle::before {
  content: '';
  position: absolute;
  top: 0.125rem;
  left: -1.25rem;
  width: 0.375rem;
  height: 1.25rem;
  background: var(--primary-bg);
}

.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.industriescontent .accordion-button {
  font-size: 1rem;
  font-weight: 500;
  padding-block: 1rem;
  padding-inline: 0;
}

.industriescontent .accordion-item {
  border-bottom: solid 0.0667rem var(--white);
}

.industriescontent .accordion-body {
  padding: 1rem 0;
}

.industriestext {
  font-size: 0.875rem;
}

/* CAREER-SECTINON */
.career {
}

.careercontent {
}

.careertitle {
}

.careerinfo {
}

.careertext {
}

/* FOOTER-COMPONENT */
.footer {
  display: flex;
  flex-direction: column;
}

.footer-content {
  background: var(--primary-bg);
  display: flex;
  flex-direction: column;
}

.footermenu {
  border-bottom: solid 0.0625rem var(--footer-border);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 0.0625rem var(--footer-border);
  width: var(--size-full);
  height: 3.375rem;
}

.footmenu {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footertitle {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 400;
}

.footlist {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footlist-link {
  color: var(--footer-text);
  font-weight: 400;
  font-size: 1rem;
  transition: all var(--durations-slow) ease-in-out;
}

.footlist-link:hover {
  color: var(--white);
}

.footerlist {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerlist-link {
  color: var(--footer-text);
  font-size: 0.75rem;
  padding-inline: 1rem;
  transition: all var(--durations-slow) ease-in-out;
}

.footerlist-link:hover {
  color: var(--white);
}

.follow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.follow-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  text-align: center;
}

.followtext {
  color: var(--white);
  font-weight: 400;
  font-size: 1rem;
}

.sociallist {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.sociallist-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
}

.sociallist-link svg {
  width: 100%;
  height: 100%;
}

.footerdetails {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  padding-block: 3rem;
}

.footerlogo {
  display: flex;
  justify-content: center;
  max-width: var(--size-full);
  width: 15.625rem;
  height: 3.25rem;
  margin-inline: auto;
}

.footerlogo img {
  object-fit: contain;
}

.copyright-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 0.0625rem var(--footer-border);
  width: var(--size-full);
  height: 3.375rem;
}

.textcopyright {
  color: var(--white);
  font-size: 0.875rem;
  text-align: center;
}

.textcopyright a {
  color: inherit;
  font-size: inherit;
}

/* RESPONSIVE MEDIA-QUERIES */
/* MIN-WIDTH (768PX) */
@media screen and (min-width: 48rem) {
  .footerlist-link {
    font-size: 0.875rem;
  }

  .footerdetails {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .cardhero {
    padding-inline: 0;
  }

  .cardhero-title {
    font-size: 1.75rem;
  }

  .cardtext {
    font-size: 1rem;
  }

  .cardlist-item {
    font-size: 1rem;
  }

  .swiper-slide {
    width: 60% !important;
  }

  .swiper-slide-active {
    width: 60% !important;
  }

  .abouttitle {
    font-size: 1.75rem;
  }

  .aboutsubtitle {
    font-size: 1.5rem;
  }

  .abouttext {
    font-size: 0.875rem;
  }

  .about-content {
    grid-template-columns: 1fr 1fr;
  }
  .btn-learnmore .btntext {
    font-size: 1.2rem;
  }

  .about-thumbnail {
    height: 80%;
  }

  .missionvisioncontent {
    gap: 4rem;
  }

  .missionvisiondetails {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .missionvissiontitle {
    font-size: 1.5rem;
  }

  .nav-tabs .nav-link {
    font-size: 1.25rem;
    display: inline;
    width: auto;
  }

  .missionvisiontext {
    font-size: 0.875rem;
  }

  .valuecreatetitle {
    font-size: 1.5rem;
    white-space: pre-line;
  }

  .valuecreatedetails {
    grid-template-columns: 1fr 1fr;
  }

  .cardvalue .cardtitle {
    font-size: 1.5rem;
  }

  .cardvalue .cardtext {
    font-size: 1rem;
  }

  .servicescontent-body {
    grid-template-columns: 1fr 1fr;
  }

  .cardservicetitle {
    font-size: 1.5rem;
  }

  .cardservicetext {
    font-size: 1rem;
  }

  .consultingtitle {
    font-size: 1.75rem;
  }

  .consultingtext {
    font-size: 1rem;
  }

  .cardconsult-title {
    font-size: 2rem;
  }

  .cardconsultext {
    font-size: 1.5rem;
  }

  .cardconlist-item {
    font-size: 1rem;
  }

  .industriescontent {
    width: 70%;
    margin-inline: auto;
  }

  .industriestitle {
    font-size: 3rem;
  }

  .industriestitle::before {
    top: 0.625rem;
    height: 2.5rem;
  }

  .industriescontent .accordion-button {
    font-size: 1.25rem;
  }

  .industriestext {
    font-size: 1rem;
  }
}

/* MIN-WIDTH (1024PX) */
@media screen and (min-width: 64rem) {
  .techcontainer {
    padding-inline: 6rem;
  }

  .logosize {
    flex-grow: 0;
    max-width: 11.563rem;
  }

  .footerlist-link {
    font-size: 1rem;
  }

  .footerdetails {
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }

  .footerlogo {
    margin-inline: 0;
    height: auto;
  }

  .footmenu {
    align-items: flex-start;
    justify-content: center;
    text-align: left;
  }

  .cardhero-details {
    width: 80%;
  }

  .cardhero-title {
    font-size: 1.75rem;
  }

  .cardtext {
    font-size: 1.125rem;
  }

  .cardlist-item {
    font-size: 1.125rem;
  }

  .swiper-slide {
    width: 60% !important;
  }

  .swiper-slide-active {
    width: 60% !important;
  }

  .abouttitle {
    font-size: 2.5rem;
  }

  .aboutsubtitle {
    font-size: 1.75rem;
  }

  .abouttext {
    font-size: 1rem;
  }

  .about-thumbnail {
    height: 70%;
  }

  .missionvissiontitle {
    font-size: 1.75rem;
  }

  .nav-tabs .nav-link {
    font-size: 1.5rem;
  }

  .missionvisiontext {
    font-size: 1rem;
  }

  .valuecreatetitle {
    font-size: 1.75rem;
  }

  .valuecreatedetails {
    grid-template-columns: repeat(3, 1fr);
  }

  .servicestitle {
    font-size: 2.5rem;
  }

  .servicescontent-body {
    grid-template-columns: repeat(3, 1fr);
  }

  .consultingtitle {
    font-size: 2.5rem;
  }

  .cardconsult-title {
    font-size: 3rem;
  }
}

/* MIN-WIDTH (1280PX) */
@media screen and (min-width: 80) {
  .abouttitle {
    font-size: 3rem;
  }

  .servicestitle {
    font-size: 3rem;
  }

  .consultingtitle {
    font-size: 3rem;
  }
}

/* KEYFRAME-ANIMATIONS */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(-100%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(-2.25rem);
  }
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(2.25rem);
  }
}
