:root {
  --black: #000000;
  --white: #ffffff;
  --primary-bg: #3d91ae;
  --bg-currentcolor: #a100ff;
  --headerbg: #363e28;
  --darkbg: #09090b;
  --copyright-bg: #070422;
  --partnercard-bg: #202020;
  --primary-border: hsl(60, 1%, 38%);
  --oempartner-bg: #80c4e9;
  --ourcustomer-bg: #c4d7ff;
  --corporate-bg: #86d290;
  --selection-bg: #b6b6b9;
  --primary-font: 'Open Sans', serif;

  /* GRADIENT-BACKGROUNDS */
  --careerbg: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  --contact-bg: linear-gradient(rgba(0, 0, 0, 0.9), rgba(8, 4, 39, 0.9));
  --servicescerd-border: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.9)
  );
  --servicescard-hover-border: linear-gradient(
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.1)
  );
  --cardmask-bg: linear-gradient(rgb(255, 255, 255) 0, rgb(255, 255, 255) 0)
      content-box exclude,
    linear-gradient(rgb(255, 255, 255) 0, rgb(255, 255, 255) 0);
}

/* FONTS */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-LightItalic.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Medium.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-MediumItalic.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-ExtraBold.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* RESETTINGS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background: var(--selection-bg);
  color: var(--white);
}

html {
  font-size: 100%;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: var(--primary-font);
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
